# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema files in "/src/lib/env"
# directory should be updated accordingly.

# Example connection string for SQLite:
DATABASE_URL=file:./prisma/dev.db

#Secret Key Genrate By Better Auth  
BETTER_AUTH_SECRET=Your Secret Key 

# Base URL of your app
BETTER_AUTH_URL= Base URL of your app

# Client Base URL of your app
NEXT_PUBLIC_BETTER_AUTH_URL=Client Base URL of your app

# Disable Better Auth telemetry
BETTER_AUTH_TELEMETRY=0

# Disable Prisma telemetry
CHECKPOINT_DISABLE=1
